@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="images/dinerino.png" alt="Dino Diner Banner" width="300" height="300" />

<p>
    <a href="Menu">Menu Page</a><br />
    <a href="Privacy">Privacy Page</a><br />
    <a href="About">About Page</a>
</p>