/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* The formatting for the 'menu-item' class, which is used on the 
    Menu page to format each menu item. */
.menu-item {
    color: darkblue;
}

.form-container {
    width: 99vw;
    display: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: 1fr 300px;
}

form {
    background-color: gray;
    flex-direction: column;
    display: flex;
    padding: 10px;
    min-width: 300px;
}

.menu-list {

}

.search {

}

.category-filter {

}

.price-filter {

}

.ingredient-filter {

}